{% if list_a == list_b %}
    list a and list b are the same
{% endif %}

{% if list_a == list_c %}
    list a and list c are the same
{% endif %}

{% if dict_a == dict_b %}
    dict a and dict b are the same
{% endif %}

{% if dict_a == dict_c %}
    dict a and dict c are the same
{% endif %}

{% if number_1 == number_1 %}
    the two numbers are the same
{% endif %}

{% if number_1 != number_1 %}
    the two numbers are not the same
{% endif %}

{% if number_1 == number_2 %}
    the two numbers are the same
{% endif %}

{% if letter_a == letter_a %}
    the two letters are the same
{% endif %}

{% if letter_a != letter_a %}
    the two letters are not the same
{% endif %}

{% if letter_a == letter_b %}
    the two letters are the same
{% endif %}
