{% if not foo %}
    not foo
{% endif %}

{% if bar > 5 %}
    bar is greater than 5
{% endif %}

{% if baz < 5 %}
    baz is less than 5
{% endif %}

{% if fizz <= 5 %}
    fizz is less than or equal to 5
{% endif %}

{% if buzz >= 5 %}
    buzz is greater than or equal to 5
{% endif %}

{% if person != 'jon' %}
    person is not jon
{% endif %}

{% if person == 'jimmy' %}
    person is jimmy
{% endif %}
