{% with %}
    {% set name = 'John' %}
    {% include 'includes/name.jinja' %}
{% endwith %}

{% with %}
    {% set name = 'Paul' %}
    {% include 'includes/name.jinja' %}
{% endwith %}

{% with %}
    {% set name = 'George' %}
    {% include 'includes/name.jinja' %}
{% endwith %}

{% with %}
    {% set name = 'Ringo' %}
    {% include 'includes/name.jinja' %}
{% endwith %}
