{{ 2 + 8 }}
{{ 100 // 10 }}
{{ 2 * 5 }}
{{ 20 - 10 }}
{{ 110 % 100 }}

{% if 2 + 8 == 10 %}
    yay math
{% endif %}

{% if 100 / 10 == 10 %}
    yay math
{% endif %}

{% if 2 * 5 == 10 %}
    yay math
{% endif %}

{% if 20 - 10 == 10 %}
    yay math
{% endif %}

{% if 110 % 100 == 10 %}
    yay math
{% endif %}
