{% for name in names[:4] %}
    {{ name }}
{% endfor %}

{% for name in names[2:] %}
    {{ name }}
{% endfor %}

{% for name in names[1:3] %}
    {{ name }}
{% endfor %}

{% for name in names[:-1] %}
    {{ name }}
{% endfor %}
