{% if name is undefined %}
    name is not defined
{% endif %}

{% if age is defined %}
    age is define
{% endif %}

{% if fn is callable %}
    fn is callable
{% endif %}

{% if not_a_fn is not callable %}
    not_a_fn is not callable
{% endif %}

{% if 9 is divisibleby 3 %}
    9 is divisible by 3
{% endif %}

{% if 4 is even %}
    4 is even
{% endif %}

{% if 3 is odd %}
    3 is odd
{% endif %}

{% if i_am_none is none %}
    i_am_none is none
{% endif %}

{% if upper_str is upper %}
    upper_str is upper case
{% endif %}

{% if lower_str is lower %}
    lower_str is lower
{% endif %}

{% if upper_str is string %}
    upper_str is a string
{% endif %}

{% if a_mapping is mapping %}
    a_mapping is a mapping
{% endif %}

{% if 5 is number %}
    5 is a number
{% endif %}
