{% if non_empty_array %}
    array is not empty
{% endif %}

{% if not empty_array %}
    array is empty
{% endif %}

{% if non_empty_object %}
    object is not empty
{% endif %}

{% if not empty_object %}
    object is empty
{% endif %}

{% if non_empty_string %}
    string is not empty
{% endif %}

{% if empty_string %}
    string is empty
{% endif %}
