{{ some_number|abs }}

{% if some_number|abs == 5 %}
    absolute value of {{ some_number }} is 5
{% endif %}

{{ some_float|abs }}

{% if some_float|abs == 5.5 %}
    absolute value of {{ some_float }} is 5.5
{% endif %}
