{% if list_a == list_b %}
    list a and list b are the same
{% endif %}

{% if list_a == list_c %}
    list a and list c are the same
{% endif %}

{% if dict_a == dict_b %}
    dict a and dict b are the same
{% endif %}

{% if dict_a == dict_c %}
    dict a and dict c are the same
{% endif %}
